.custom-video {
    width: 400px;
    height: 400px;
    text-align-last: center;

    video {
        width: inherit;
        height: inherit;
        object-fit: cover;
    }
}

.custom-video:fullscreen {
    height: 100vh !important;
    width: 100vw !important;
    object-fit: contain !important;
}

.custom-video-controls {
    background-color: rgba(202, 202, 202, 0.3);
    backdrop-filter: blur(15px);
    position: relative;
    width: auto;
    bottom: 69px;
    margin-bottom: -69px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // animation: controlSlide .3s forwards;
    transition-duration: .3s;

    .video-seek-bar {
        display: flex;
        width: 95%;
        margin: .7rem;

        p {
            display: inherit;
            margin: 0;
            margin-right: 5px;
        }
    }

    .main-controls {
        display: inherit;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 15px 0 15px;

        svg {
            cursor: pointer;
            color: whitesmoke !important;
        }

        .left-controls {
            display: inherit;
            align-items: center;
        }
    
        .volume-tracker {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-right: 15px;

            .current-time {
                display: inherit;
                align-items: center;
                margin: 0;
                margin-left: 15px;
            }
        }
    
        .fullscreen-control {
            margin-right: 15px;
        }
    }
}

input[type="range"] {
    width: 100%;
    background: transparent;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: rgb(245, 41, 102);
    border-radius: 100px;
}

input[type=range]::-webkit-slider-thumb {
    position: relative;
    bottom: 4px;
    margin-bottom: -4px;
    // box-shadow: base.$gradient-shadow;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background: whitesmoke;
    cursor: pointer;
    -webkit-appearance: none;
  }

  @keyframes controlSlide {
      from {
          opacity: 0;
      }

      to {
          opacity: 1;
      }
  }