// COLOURS 
$text-primary: #363636;
$text-secondary: rgb(240, 240, 240);
$theme-colour: #2461bd;
$main-background: whitesmoke;
$dark-background: rgb(31, 31, 31);
$carousel-indicator-height: 25px !important;

// DISPLAY
$flex-display: flex;
$just-center: center;
$align-center: center;
$flex-row: row;
$flex-col: column;
$just-around: space-around;
$just-between: space-between;
$just-even: space-evenly;

// SHADOWS 
$shadow-sm: 0 0 3px rgba(70, 70, 70, 0.5);
$shadow-lg: 0 0 14px rgb(70, 70, 70, 0.5);
$shadow-xl: 0 0 20px rgb(70, 70, 70, 0.7);
$theme-shadow-lg: -25px 20px 0 $theme-colour;
$theme-shadow-mobile: -12px 12px 0 $theme-colour;